@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/28px 'Be Vietnam Pro', Arial, sans-serif;
    color: white;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    transition: 1s;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn-primary {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #d96708;
}

.btn-secondary {
    color: #EE8313;
    padding: 12px 24px;
    border: 1px solid #EE8313;
    font-weight: 600;
    line-height: 26px;
}

.title-section {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.6px;
}

/*Header*/
#header-section {
    margin: 40px 0 107px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header-logo__img,
.footer-about__img {
    width: 48px;
    height: 48px;
}

.nav-main {
    margin-left: auto;
}

.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

.nav-main__link:hover {
    color: #EE8313;
}

/*Banner*/
#banner-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner {
    max-width: 475px;
    padding-top: 45px;
}

.banner__header {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.6px;
}

.banner__text {
    margin: 32px 0 48px;
    font-size: 17px;
    color: rgb(255 255 255 / 80%);
}

.banner-links-wrap {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
    align-items: center;
}

.banner-features__text {
    font-weight: 600;
    line-height: 24px
}

.banner-features__text:first-child {
    margin-right: 40px;
}

.banner-features__text_strong {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-right: 16px;
    vertical-align: sub;
}

.banner-img {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner-img::before {
    position: absolute;
    content: "";
    width: 94%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: url("img/banner-img.png") no-repeat;
}

.banner-img::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(52 52 52 / 30%);
}

/*Rent*/
#rent-section {
    padding: 120px 0;
}

.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.rent {
    position: relative;
    font-weight: 600;
    height: 524px;
    background: url("img/rent_1.png") 50%/cover no-repeat;
}

.rent:nth-child(2) {
    background: url("img/rent_2.png")
}

.rent:nth-child(3) {
    background: url("img/rent_3.png")
}

.rent:nth-child(4) {
    background: url("img/rent_4.png")
}

.rent__name {
    position: absolute;
    top: 48px;
    left: 48px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.6px;
}

.rent__link {
    position: absolute;
    bottom: 48px;
    right: 60px;
    font-size: 24px;
    padding-right: 30px;
    letter-spacing: 0.6px;
}

.rent__link:hover {
    color: #FFCC2C;
}

.rent__link:after {
    position: absolute;
    content: "";
    top: 60%;
    right: 0;
    width: 8px;
    height: 16px;
    transform: translateY(-50%);
    background: url("img/arrow.png") 50%/cover no-repeat;
}

/*Services*/
#services-section {
    padding-bottom: 120px;
}

.services-section__title {
    text-align: left;
    margin-left: 66px;
}

.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.service__img {
    margin-bottom: 24px;
}

.service__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}

.service__text {
    color: rgb(255 255 255 / 80%);
}

/*Destination*/
#destination-section {
    padding-bottom: 162px;
}

.destination-section__title {
    width: 590px;
    margin: 0 auto 40px;
}

.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.destination {
    background: #131313;
    border: 1px solid #171717;
}

.destination-info {
    padding: 24px;
}

.destination-info__title {
    font-size: 24px;
    line-height: 32px;
}

.destination-info__text {
    margin: 10px 0 25px;
    color: rgb(255 255 255 / 80%);
}

.destination-info__price {
    position: relative;
    display: block;
    margin-bottom: 17px;
    padding-left: 42px;
    font-weight: 600;
}

.destination-info__price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: url("img/car_icon.png") no-repeat;
    transform: translateY(-50%);
}

.destination-info__link {
    color: #EE8313;
}

.destination-info__link:hover {
    color: #d96708;
}

/*Location*/
#location-section {
    padding-bottom: 102px;
}

/*Footer*/
#footer-section {
    padding-top: 40px;
    background: #1F1905;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.footer-logo-wrap {
    display: flex;
    gap: 17px;
    align-items: center;
    margin-bottom: 64px;
    font-weight: 600;
}

.footer-about__text {
    font-size: 18px;
    line-height: 32px;
    max-width: 235px;
}

.footer-nav-wrap {
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 40px 100px 0 auto;
}

.footer-nav__header {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 32px;
}

.footer-nav__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
}

.footer-nav__link {
    color: rgb(255 255 255 / 80%);
}

.footer-nav__link:hover {
    color: #EE8313;
}

.footer-social {
    margin-top: 32px;
}

.footer-social__link {
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 50px;
    background: url("img/social_1.svg") 50%/cover no-repeat;
}

.footer-social__link:nth-child(2) {
    background: url("img/social_2.svg") 50%/cover no-repeat;
    background-size: 75%;
}

.footer-social__link:nth-child(3) {
    background: url("img/social_3.svg") 50%/cover no-repeat;
    background-size: 75%;
    margin-bottom: 0;
}

.footer-copyright {
    padding: 20px 0;
    background-color: #EE8313;
}

.footer-copyright__text {
    text-align: center;
}